@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

hr {
  margin: 2rem 0;
}

#title {
  font-size: 2rem;
}

/* px, em, rem  1rem = 16px*/

/* containers */
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}
