@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --primary: #334155;
  --secondary: #b91c1c;
  --gray: #94a3b8;
  --white: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
}

hr {
  margin: 2rem 0;
}

#title {
  font-size: 2rem;
}

/* px, em, rem  1rem = 16px*/

/* containers */
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin: auto;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  padding: 0 1rem;
  max-width: 600px;
}

/* Links */

.link {
  min-width: 140px;
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
}

.primary-link {
  color: var(--gray);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
}

.secondary-link {
  color: var(--white);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
}

/* Lists */

.unlisted {
  list-style: none;
}

.list-inline li {
  display: inline;
  padding: 0rem 0.5rem;
}

/* nav */
.navigation {
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: var(--white);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .brand-name {
  font-weight: 700;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation ul li {
  display: inline-block;
  padding: 0 0.8rem;
}

.navigation ul li a {
  font-weight: 500;
  color: var(--gray);
}

.navigation ul li a.active {
  font-weight: 700;
  color: var(--white);
}
